@charset "UTF-8";
/*API acss.aoove.com*/
body{ font: 14px/1.5 "Microsoft YaHei",sans-serif; color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	}
html{
	width: 100%
}
body{
	width: 100%;
	height: 100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
fieldset{
	border:0;
	}
img{
	border:0; 
	max-width:100%;
	display:block;
	 }
ol,ul{
	list-style:none;
	}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
	}
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
	}
	a{
		text-decoration: none;
	}
/*头部*/
.mheader{
	height: 140px;
	width: 1263px;
	margin: 0 auto;
}
.mheader a{
	height: 80px;
}
.mheader a:hover{
	color: #29a16c;
}
.mh_top{
	height: 80px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

#logoId{
	width: 140px;
	height: 46px;
	margin-top: 15px;
}
.mt_left{
	height: 80px;
	line-height: 80px;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	align-content: center;
}
.mt_left a{
	height: 80px;
	line-height: 80px;
	font-size: 16px;
	color: #333333;
	margin-left: 50px;
}
.mt_left a:last-child span img{
	float: right;
	line-height: 80px;
	margin-top: 30px;
}
.mt_right{
	/*width: 400px;*/
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	
}
.mt_right a{
	font-size: 16px;
	line-height: 80px;
	width: auto;
	color: #333333;
	margin-right: 50px;
}
#removeId{
	display: none;
}

.shopCar a{
	display:flex;
	flex-direction: row;
	text-align: center;
}
.shopCar a span:first-child{
	margin-top: 27px;
	background-image: url(../img/icon.png);
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-position: -103px -3px;
}
.shopCar a:hover span:first-child{
	background-image: url(../img/icon.png);
	background-position: -303px -3px;
	z-index: ;
}	
.shopCar a span:last-child{
	margin-top: 27px;
	width: 33px;
	height: 22px;
	background-color: orange;
	border-radius: 10px;
	margin-left: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shopCar:hover .carDiv{	
	display: block;
	width: 450px;
	height: 450px;
	position: absolute;
	top: 81px;
	right: 52px;
	background-color: #F7F7F7;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
	box-shadow: 0px 5px 5px  5px #E6E6E6;
	transition: all .3s linear;
}
.carDiv{
	display: none;
}
.sanjiao{
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color:#e5e5e5;
	position: absolute;
	top: -16px;
	right: 48px;
	/*display: none;*/
}

.carDiv img{
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
.carDiv p{
	font-size: 16px;
	color: #999999;
}
 
.mh_bottom{
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	border-bottom: 1px solid #37EB9D;
	/*text-align: center;*/	
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.mh_bottom .mh_bottom_list{
	margin-left: 10px;
	position: relative;
}
.show_goods{
	height: 180px;
	background-color: #FFFFFF;
	border-radius: 10px;
	font-size: 14px;
	color: black;
	text-align: center;	
	padding-top: 35px;
	padding-right: 8px;
	border-top: 1px solid #29a16c;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	display: none;
	z-index: 10;
	box-shadow: 0px 5px 5px  5px #E6E6E6;
	position: absolute;
}
.sanjiao1{
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color:#29a16c;	
}
.mh_bottom .mh_bottom_list:first-child:hover .show_goods{
	display: flex;
	left: -293px;
	top: 60px;
}
.mh_bottom .mh_bottom_list:first-child:hover .show_goods .sanjiao1{
	position: absolute;
	top: -24px;
	right: 345px;
}

.mh_bottom .mh_bottom_list:nth-child(2):hover .show_goods{
	display: flex;
	top: 60px;
	left: -135px;	
}
.mh_bottom .mh_bottom_list:nth-child(2):hover .show_goods .sanjiao1{
	position: absolute;
	top: -24px;
	left: 162px;	
}
.mh_bottom .mh_bottom_list:nth-child(3):hover .show_goods{
	display:flex;
	top: 60px;
	left: -193px;	
}
.mh_bottom .mh_bottom_list:nth-child(3):hover .show_goods .sanjiao1{
	position: absolute;
	top: -24px;
	left: 220px;	
}
.mh_bottom .mh_bottom_list:nth-child(4):hover .show_goods{
	display:flex;
	top: 60px;
	left: -241px;	
}
.mh_bottom .mh_bottom_list:nth-child(4):hover .show_goods .sanjiao1{
	position: absolute;
	top: -24px;
	left: 268px;	
}
.mh_bottom .mh_bottom_list:nth-child(5):hover .show_goods{
	display: flex;
	top: 60px;
	left: -191px;	
}
.mh_bottom .mh_bottom_list:nth-child(5):hover .show_goods .sanjiao1{
	position: absolute;
	top: -24px;
	left: 218px;	
}
.mh_bottom .mh_bottom_list:nth-child(6):hover .show_goods{
	display: flex;
	top: 60px;
	left: -78px;	
}
.mh_bottom .mh_bottom_list:nth-child(6):hover .show_goods .sanjiao1{	
	position: absolute;
	top: -24px;
	left: 105px;	
}
.mh_bottom .mh_bottom_list a:first-child{
	display: block;
	height: 58px;
	width: 80px;
	color: #333333;
	text-align: center;
}
.mh_bottom .mh_bottom_list a:hover{
	color: #29a16c;
}
.mh_bottom_list{
	height: 60px;
	text-align: center;
	float: left;
}
.mh_bottom_list a{
	height: 60px;
	line-height: 60px;
}

.mh_bottom .show_goods a{
	display: block;
	width: 110px;
	height: 160px;
	border-bottom: none;
	display: inline-block;
	margin-left: 3px;
	color: #333333;
}

.mh_bottom .mh_bottom_list .show_goods img{
	width: 110px;
	height: 120px;
	border-radius: 5px;
}
.mh_bottom .mh_bottom_list .show_goods img:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 5px  5px #E6E6E6;
	transition: all .3s linear;
}
/*登录界面*/
#loginBox{
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index: 1;
	background-color: #7f7f7f;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#logining{
	width: 429px;
	height: 541px;
	background-color: #fff;
	border:1px solid #e5e5e5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
#logining h1{
	height: 56px;
	line-height: 56px;
	text-align: center;
	color: #666;
	font-size: 16px;
	border-bottom:1px solid #e5e5e5;
}
#closeDiv{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 15px;
	right: 8px;
	background-image: url(../img/icon.png);
	background-position: -602px 1288px;
}
#closeDiv:hover{
	
	background-image: url(../img/icon.png);
	
	background-position: -701px 1288px;
}
.innerSection{
	height: 326px;
	width: 328px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 auto;
}
.innerSection input{
	height: 40px;
}
.phone input{
	width: 324px;
	margin-top: 30px;
}
.mima input{
	width: 324px;
	/*margin-top: 30px;*/
}
.yzm{
	width: 328px;
	height: 45px;
	overflow: hidden;
}
.yzm input{
	width: 194px;
}

#yzmId{
	float:right;
	width: 115px;
	height: 41px;
	margin-right:6px;
	border: 1px solid #23A86F;
	border-radius: 8px;
	text-align: center;
	line-height: 41px;
	font-size: 18px;
	letter-spacing: 5px;
}
.shoujiyzm{
	width: 328px;
}
.shoujiyzm input:first-child{
	width: 194px;
}
.shoujiyzm #shoujiyzm001{
	display:inline-block;
	height: 44px;
	color: white;
	line-height: 44px;
	text-align: center;
	width: 128px;
	background-color: #23A86F;
	margin-left: -3px;
	border-radius: 3px;
}
.shoujiyzm span:hover{	
	background-color: #37EB9D;	
}
.logindiv input{
	width: 324px;
	font-size: 16px;
	color: white;
	background-color: #23A86F;
	border: 1px solid #23A86F;
	border-radius: 3px;
	margin-bottom: 10px;
}
.logindiv input:hover{
	
	background-color: #37EB9D;	
	border: 1px solid #37EB9D;
	border-radius: 3px;
}
.weixinDiv{
	height: 124px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
}
.weixinDiv a{
	display: block;
	width: 60px;
	height: 45px;
	color: #999999;
	margin-top: 10px;
}
.weixinDiv .z_c:hover{
	color: #23A86F;
}
.weixinDiv h3{
	margin-top: 20px;
	width: 60px;
	color: #999999;
}
#weichatImg{
	width: 45px;
	height: 45px;
	margin-top: 10px;
	background-image: url(../img/icon.png);
	background-position: 829px 792px;
}
#weichatImg:hover{
	background-image: url(../img/icon.png);
	background-position: 1785px 3183px;
}
.cleardiv{
	
}
/*轮播图*/
#box2{
	position:relative;
	width:1263px;
	height:368px;
	border-bottom:1px solid #e5e5e5;
	margin: 0 auto;				
}	
#box2 img{
	width: 100%;
	height: 368px;
	border: none;
}
/*联系我们*/
.onlineSevers{
	position: fixed;
	top: 250px;
	right:0;
}
.onlineSevers img{
	width: 42px;
	height: 176px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#to_top{
    position: fixed;
    bottom: 32px;
    right: 9px;
    width: 44px;
    z-index: 9;
}
#to_top a{
	display: block;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    z-index: 8;
  	 background-image: url(../img/icon.png);
    background-position: 2484px 992px;   
}
/*广告*/			
.addBox{
	width: 1263px;
	height: 630px;
	background-color:#f8f8f8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	border-bottom: 1px solid #FFFFFF;
}
.addBox img:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 8px  5px #E6E6E6;
	transition: all .2s linear;
}
.addbig{
	width: 580px;
	height: 240px;
	margin-top: 30px;
}
.addBox a:first-child{
	margin-right: -60px;
}
.addBox a:nth-child(4){
	margin-right: -55px;
	margin-left: -55px;
}
.samlladd{
	width: 380px;
	height: 244px;
	margin-bottom: 62px;
}
/*推荐*/
.recommend{
	width: 1263px;
	padding-top: 10px;
	background-color:#f8f8f8;
	margin: 0 auto;	
}
.recom01{
	margin-left: 20px;
	overflow: hidden;
}
.recom01_hd{
	padding-top:43px;
	padding-bottom:3px;
}
.recom01 .recom01_hd:last-child{
	margin-top:20px;
}
.recom01_hd h2{
	display: inline-block;
	font-size: 28px;
	margin-bottom: 10px;
	vertical-align: bottom;
	margin-left: 22px;
}
.recom01_hd a{
	color: black;
}
.recom01_hd a:hover{
	color: #23A96F;
}
.recom01_hd_a{
	display: inline-block;
	margin-top: 13px;
	vertical-align: bottom;
	text-decoration: underline;
	font-size: 18px;
	float: right;
	margin-right:62px;
}
.recom01_goods{
	height: 364px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.goodsList{
	display: block;	
	width: 280px;
	height: 362px;
	border:1px solid transparent;
	text-align:center;
	background-color: #fff;
	box-sizing: border-box;	
	transition: all .2s linear;	
}
.goodsList:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 8px  5px #E6E6E6;
}
.goodsList img{	
	display: block;
	width: 160px;
	height: 183px;
	margin-top:50px;
	margin-left: 60px;
}	
.goodsList span{
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #333333;	
}
.goodsList .goodsName{
	margin-top: 30px;	
}
.goodsList .goodsVers{
	width: 230px;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goodsList span:last-child{
	color: #ff9800;
}
/*服务*/
.seversbox{
	width: 1263px;
	height: 350px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;	
	justify-content: space-around;
	align-items: center;
	padding-left: 32px;
	padding-right: 32px;
}
.seversbox img{
	width: 580px;
	height: 195px;
	float: left;
}
.seversbox img:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 8px  8px #E6E6E6;
	transition: all .2s linear;}
/*底部*/
.m-footer{
	
	height: 350px;
	background: #333333;
	overflow: hidden;
	color:#999999;
}
.foot_top{
	width: 1263px;
	/*margin-top: 50px;*/
	height: 165px;
	margin: 50px auto;
}
.foot_cont{
	width: 182px;
	color:#999999;
	float: left;
	margin-left: 108px;
}
.foot_cont h3{
	font-size: 18px;
	color:#e5e5e5;
	margin-bottom: 24px;
}
.foot_cont a{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color:#999999;
}
.foot_cont_right{
	float: right;
	width: 208px;
	float: right;
	margin-right: 105px;
}
.foot_cont_right a{
	color:#999999;
}
.foot_cont_right img{
	width: 100px;
	height: 100px;
	margin-bottom: 18px;
	margin-left: 80px;
}
.foot_cont_right span:last-child{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	border-right: 2px solid #999999;
}
.foot_cont_right .weoboImg{
	display: inline-block;
	height: 24px;
	width: 24px;
	background-image: url(../img/icon.png);
	background-position: 728px -100px;	
}
.foot_cont_right .weoboImg:hover{
	display: inline-block;
	height: 24px;
	width: 24px;
	background-image: url(../img/icon.png);
	background-position: 428px -100px;	
}
.foot_bottom{
	width: 1263px;
	margin: 10px auto;
	
}
.foot_bottom span{	
	font-size: 12px;
	color: #666;	
	margin-left: 106px;
}
