@charset "UTF-8";
/*API acss.aoove.com*/
body{ font: 14px/1.5 "Microsoft YaHei",sans-serif; color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	}
html{
	width: 100%
}
body{
	width: 100%;
	height: 100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
fieldset{
	border:0;
	}
img{
	border:0; 
	max-width:100%;
	display:block;
	 }
ol,ul{
	list-style:none;
	}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
	}
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
	}
a{
		text-decoration: none;
	}
/*头部*/
.mheader{
	height: 80px;

}
.mheader a{
	height: 80px;
}
.mheader a:hover{
	color: #29a16c;
}
.mh_top{
	height: 80px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

#logoId{
	width: 140px;
	height: 46px;
	margin-top: 15px;
}
.mt_left{
	height: 80px;
	line-height: 80px;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	align-content: center;
}
.mt_left a{
	height: 80px;
	line-height: 80px;
	font-size: 16px;
	color: #333333;
	margin-left: 50px;
}
.mt_left a:last-child span img{
	float: right;
	line-height: 80px;
	margin-top: 30px;
}
.mt_right{
	/*width: 400px;*/
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*align-content: center;*/
	position: relative;
	
}
.mt_right a{
	font-size: 16px;
	line-height: 80px;
	width: auto;
	color: #333333;
	margin-right: 50px;
}

.shopCar a{
	display:flex;
	flex-direction: row;
	text-align: center;
}
.shopCar a span:first-child{
	margin-top: 27px;
	background-image: url(../img/icon.png);
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-position: -103px -3px;
}
.shopCar a:hover span:first-child{
	background-image: url(../img/icon.png);
	background-position: -303px -3px;
	z-index: ;
}	
.shopCar a span:last-child{
	margin-top: 27px;
	width: 33px;
	height: 22px;
	background-color: orange;
	border-radius: 10px;
	margin-left: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shopCar:hover .carDiv{	
	display: block;
	width: 450px;
	height: 450px;
	position: absolute;
	top: 81px;
	right: 52px;
	background-color: #F7F7F7;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
}
.carDiv{
	display: none;
}
.sanjiao{
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color:#e5e5e5;
	position: absolute;
	top: -16px;
	right: 48px;
	/*display: none;*/
}

.carDiv img{
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
.carDiv p{
	font-size: 16px;
	color: #999999;
}
 
/*登录界面*/
#loginBox{
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%;
	flex: 1;
	background-color: #7f7f7f;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#logining{
	width: 429px;
	height: 541px;
	background-color: #F7F7F7;
	border:1px solid #e5e5e5;
	margin-left: 30px;
	margin-top: 2px;
	position: relative;
	left: 0;
	top: 0;
}
#logining h1{
	height: 56px;
	line-height: 56px;
	text-align: center;
	color: #666;
	font-size: 16px;
	border-bottom:1px solid #e5e5e5;
}
#closeDiv{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 14px;
	left: 391px;
	background-image: url(../img/icon.png);
	background-position: -602px 1288px;
}
#closeDiv:hover{
	background-image: url(../img/icon.png);	
	background-position: -701px 1288px;
}
.innerSection{
	height: 326px;
	width: 328px;
	text-align: justify;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 auto;
}
.innerSection input{
	height: 28px;
	outline: none;
	border-radius: 14px;
}
.phone input{
	width: 224px;
	margin-top: 30px;
}
#usernameSpan01{
	display: none;
}
#usernameSpan02{
	display: none;
}
.userpwd{
	width: 328px;
	text-align: center;		
}
.userpwd input{
	margin-top: 10px;
	width: 236px;
}
#userpwdSpan{
	display: none;
}
.yzm{
	width: 328px;
}
.yzm input{
	width: 194px;
}
.yzm span{
	float: right;
}
.yzm span img{
	display: block;
	width: 115px;
	height: 33px;
	margin-left:-4px;
}
.shoujiyzm{
	width: 328px;
}
.shoujiyzm input:first-child{
	width: 194px;
}
.shoujiyzm span{
	display:inline-block;
	height: 33px;
	color: white;
	line-height: 33px;
	text-align: center;
	width: 115px;
	background-color: #23A86F;
	margin-left: 6px;
	border-radius: 8px;
}
.shoujiyzm span:hover{	
	background-color: #37EB9D;	
}
.logindiv input{
	width: 324px;
	font-size: 16px;
	color: white;
	background-color: #23A86F;
	border: 1px solid #23A86F;
	border-radius: 3px;
	margin-bottom: 10px;
}
.logindiv input:hover{
	
	background-color: #37EB9D;	
	border: 1px solid #37EB9D;
	border-radius: 3px;
}
.weixinDiv{
	height: 124px;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
.weixinDiv a{
	width: 45px;
	height: 45px;
}
.weixinDiv h3{
	color: #999999;
}
#weichatImg{
	width: 45px;
	height: 45px;
	/*background-color: #37EB9D;*/
	margin-top: 10px;
	background-image: url(../img/icon.png);
	background-position: 829px 792px;
}
#weichatImg:hover{
	background-image: url(../img/icon.png);
	background-position: 1784px 3183px;
}
.regimgdiv{
	float: right;
	
	flex: 1;
	
	background-image: url(../img/bjt0001.png);
	background-size: 100% 100%;
/*	background-repeat: no-repeat;*/	
}
/*界面*/
.sale_recyle{
	position: relative;
    overflow: hidden;
    height: 800px;
    width: 100%;
    background: linear-gradient(140deg, #17e4e6 5%, #4ed4b9 30%, #098f68 65%);
    /*display: table;*/
}
.s_r_lefttop{
	position: absolute;
    top: 0;
    left: 0;
    width: 15%;
}
.s_r_rightbottm{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 19.61111111111111%;
}
.s_r_middleleft{
	 position: absolute;
    top: 65.5%;
    left: 18.05555555555556%;
    width: 7.11111111111111%;
}
.s_r_middleright{
	position: absolute;
    top: 24.2%;
    left: 58.38888888888889%;
    width: 4.16666666666667%;
}
.content_img{
	position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;	
    display: table;*/
}
.c_img_box{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.c_img_box{
	width: 50%;
}


